<div *ngFor="let event of events">
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <h2>{{event.name}}</h2>
          <h6>Number of seats Available : {{event.seatsAvailable}}</h6>
          <form [formGroup]="userForm">

            <div class="form-group">
              <label>Name</label>
              <input type="text" formControlName="name" class="form-control"
                [ngClass]="{ 'is-invalid': userForm.get('name').touched && userForm.get('name').errors }" />
              <div *ngIf="userForm.get('name').touched && userForm.get('name').errors" class="invalid-feedback">
                <div *ngIf="userForm.get('name').errors.required">Please enter your name</div>
                <div *ngIf="userForm.get('name').errors.nameValidation">Only letters and spaces are allowed</div>
              </div>
            </div>
            <div class="form-group">
              <label>Email</label>
              <input type="text" formControlName="email" class="form-control"
                [ngClass]="{ 'is-invalid': userForm.get('email').touched && userForm.get('email').errors }" />
              <div *ngIf="userForm.get('email').touched && userForm.get('email').errors" class="invalid-feedback">
                <div *ngIf="userForm.get('email').errors.required">Please enter your email</div>
                <div *ngIf="userForm.get('email').errors.email">Invalid Email</div>
              </div>
            </div>
            <div class="form-group">
              <label>Phone Number</label>
              <input type="text" formControlName="phoneNumber" class="form-control"
                [ngClass]="{ 'is-invalid': userForm.get('phoneNumber').touched && userForm.get('phoneNumber').errors }" />
              <div *ngIf="userForm.get('phoneNumber').touched && userForm.get('phoneNumber').errors"
                class="invalid-feedback">
                <div *ngIf="userForm.get('phoneNumber').errors.required">Please enter your phone Number.</div>
                <div *ngIf="userForm.get('phoneNumber').errors.phone">Please enter 10 digit phone number.</div>
              </div>
            </div>
            <div class="form-group">
              <label>Number of seats</label>
              <select class="mdb-select md-form form-control" formControlName="numberOfSeats" (change)="seatsCheck()"
                [(ngModel)]="seatsAvailable"
                [ngClass]="{ 'is-invalid':userForm.get('numberOfSeats').touched && (seatsAvailable==0 || seatsError)}">
                <option value="1" selected>1</option>
                <option value="2">2</option>
                <option value="3"> 3</option>
                <option value="4"> 4</option>
                <option value="5"> 5</option>
                <option value="6"> 6</option>
              </select>
              <div *ngIf="userForm.get('numberOfSeats').touched && (seatsAvailable==0 || seatsError)"
                class="invalid-feedback">
                <div *ngIf="seatsAvailable == 0">Please enter your phone Number.</div>
                <div *ngIf="seatsError">Number of seats selected is more than available seats.</div>
              </div>
            </div>
            <div *ngIf="!seatsError">
              <div  formArrayName="nameOfAttendees"
                *ngFor="let item of  userForm.controls.nameOfAttendees.controls; let i = index"> 
                <div [formGroupName]="i">
                  <div class="form-group">
                    <label>Name of Attendee {{i+2}}</label>
                    <input type="text" formControlName="attendee" class="form-control" [ngClass]="{ 'is-invalid':item.controls.attendee.touched && item.controls.attendee.errors}"> 
                    <div *ngIf="item.controls.attendee.touched && item.controls.attendee.errors" class="invalid-feedback">
                      <div *ngIf="item.controls.attendee.errors.required">Please enter the name of attendee {{i+2}}</div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div class="form-group">
              <button type="submit" (click)="submit()" [disabled]="!userForm.valid" class="btn btn-primary">Register</button>
              <button style="margin-left:16px;" type="button" [routerLink]="['']"  class="btn btn-primary">Cancel</button>

            </div>
           
          </form>
        </div>
      </div>
    </div>
  </div>
</div>